    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      min-height: 100vh;
    }
    .col-sm-9 {
        margin-left: 5px;
        padding-left: 5px;
    }


     /*Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }

        .row.content {
            height: auto;
        }
    }



.nice-hr {
  height: 4px;
  border: 1px solid #f99286;
  border-width: 1px 0;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 43%, #f99286 44%, #f99286 54%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
  background-position: top left;
  background-size: 6px 6px;
}

.post {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px ;
}

.indent {
     text-indent: 50px;
}

.article-title {
  color: #444444;
}

a:hover {
    text-decoration: none;
    color: yellowgreen;
}