<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css\style.css') }}" />
    <title>{{ tytul }}</title>
</head>
<body>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2 d-none d-md-inline-block" href="/">Strona Główna</a>
          <a class="py-2 d-none d-md-inline-block" href="/about">O mnie</a>
          <a class="py-2 d-none d-md-inline-block" href="/posty">Posty</a>
          <a class="py-2 d-none d-md-inline-block" href="/info">Informacje</a>

          {% if current_user.is_authenticated %}
          <a class="py-2 d-none d-md-inline-block" href="/logout">Wyloguj</a>
          {% endif %}
        </div>
    </nav>

<main role="main" class="container">
    <div class="starter-template">
        {% if tytul %}
        <h1>{{ tytul }}</h1>
        {% else %}
        <h1>Strona główna</h1>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</main>

</body>
</html>