{% extends "base.html" %}

{% block content %}


<div class="starter-template">
    <p clas="lead">Zaloguj się aby uzyskać dostęp do zawartości strony.</p>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">Zaloguj się</div>
            <div class="card-body">
                <form action="{{ url_for('login') }}" method="post">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-md-right">Login</label>
                        <input class="form-control" type="text" name="username">
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-md-right">Hasło</label>
                        <input class="form-control" type="password" name="password">
                    </div>

                    <div class="col-md-6 offset-md">
                       <input type="submit" value="Login">
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>




    {% endblock %}
