{% extends "base.html" %}


{% block app_content %}
<div class="container">
        <h2 class="header">Informacje</h2>
        <p class="par">Aby móc dodawać posty musisz mieć zarejestrowane konto.<br> Użytkownik ma możliwość edycji i uwuwania swoich (wyłącznie swoich!) wpisów. Nie ma możliwości
        edytowania wpisów innych użytkowników.<br>
        Po rejestracji użytkownik może zmienić swoje hasło i e-mail. Natomiast nie ma możliwości zmiany nazwy użytkownika (loginu).<br> Jeden e-mail może być zarejestrowany tylko
        do jednego konta.</p>
</div>
{% endblock %}
