{% extends "base.html" %}

<!--    {% block content %}-->

<!--    {% for post in posty %}-->
<!--    <div><p>{{ post.authhor.username }}napisał/a<b>{{ post.body }}</b></p></div>-->
<!--    {% endfor %}-->

<!--    {% endblock %}-->
<!--{#    <div class="starter-template">#}-->
<!--{#        <div class="container">#}-->
<!--{#        <h1>Wpisy</h1>#}-->
<!--{#        </div>#}-->
<!--{#    </div>#}-->

    {% block content %}
    {% for post in posty %}
<h4><small>OSTATNIE POSTY</small></h4>
<hr>
<h2>{{ post.tytul }}</h2>
<h5><span class="glyphicon glyphicon-time"></span> Post by {{post.author.username }}</h5>
<p> {{post.body }}</p>
<br><br>
    {% endfor %}
    {% endblock %}