{% extends "base.html" %}


{% block app_content %}
<div class="container-fluid">
    <br><br>
        <div class="container">
        <p clas="lead">Zaloguj się aby uzyskać dostęp do zawartości strony.</p>
        <br><br>
        </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('login') }}" method="POST">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Zaloguj się</legend>
                                <div class="form-group row">
                                    {{ form.username.label(class="col-md-2 col-form-label text-md-right")}} {% if form.username.errors %} {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for errors in form.username.errors %}
                                        <span class="error">{{ errors }}</span> {% endfor %}
                                    </div>
                                    {% else %} {{ form.username(class="form-control form-control-lg") }} {% endif%}
                                </div>

                                <div class="form-group row">
                                    {{ form.password.label(class="col-md-2 col-form-label text-md-right")}} {% if form.password.errors %} {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for errors in form.password.errors %}
                                        <span class="error">{{ errors }}</span> {% endfor %}
                                    </div>
                                    {% else %} {{ form.password(class="form-control form-control-lg") }} {% endif%}
                                </div>
                                <div class="form-check">
                                    {{ form.remember(class="form-check-input") }} {{ form.remember.label(class="form-check-label") }}
                                </div>
                            </fieldset>

                            <div class="col-md-6 offset-md">
                                {{ form.submit(class="btn btn-outline-info")}}
                            </div>
                            <small class="text-muted ml-2">
                        <a href="#">Nie pamiętasz hasła?</a>
                    </small>
                        </form>
                    </div>
                </div>
                <br><br>
                <small class="text-muted ml-2">
                        Potrzebujesz konta?
                            <a class="ml-2" href="{{ url_for('register')}}">Zarejestruj się teraz!</a></small>
            </div>
        </div>
    </div>
</div>



{% endblock %}